*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/9.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


h1{
    color: aliceblue;
    font-size: 100px;
}

p{
    color: aliceblue;
    font-size: 11px;
    line-height: 15px;
}

button{
    width: 180px;
    height: 40px;
    color: brown;
    font-size: 12px;
    padding: 12px o;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;

}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(img/cl.png);
}
.card2{
    background-image: url(img/staff.png);
}


.card:hover{
    transform: translateY(-10px);
}

h5{
    color: aliceblue;
    text-shadow: 0 0 5px #999 ;
}
